footer {
    border-top: 1px solid var(--color4);
}
footer a {
    transition: opacity ease-in-out .5s;
    text-decoration: none;
    color: var(--color6);
    font-weight: bold;
}

footer  a:hover{
    /* opacity: 1; */
    transition: opacity ease-in-out .5s;
    color: var(--color6);
    text-decoration: underline ;
    text-decoration-thickness: 0.2em;
}

